<p-card header="Çalışan">
    <p-table
        #dt
        [value]="calisan"
        [(selection)]="selectedCalisan"
        dataKey="ID"
        [rowHover]="true"
        responsiveLayout="stack"
        [rows]="10"
        [showCurrentPageReport]="true"
        [globalFilterFields]="[
            'calisanAdi',
            'calisanSoyad',
            'calisanCinsiyet',
            'calisanUnvan',
            'calisanTelNo',
            'calisanEmail'
        ]"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        
    >
        <ng-template pTemplate="caption">
            <div class="table-header flex">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Çalışan Ara"
                    />
                </span>
                <span class="p-input-icon-left ml-auto">
                    <button
                        pButton
                        pRipple
                        class="p-button-success"
                        (click)="dialogOpen()"
                    >
                        Çalışan Ekle
                    </button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="calisanAdi" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Adı
                        <p-sortIcon field="calisanAdi"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="calisanSoyad" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Soyadı
                        <p-sortIcon field="calisanSoyad"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="calisanCinsiyet" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Cinsiyet
                        <p-sortIcon field="calisanCinsiyet"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="calisanUnvan" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Ünvan
                        <p-sortIcon field="calisanUnvan"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="calisanTelNo" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Telefon Numarası
                        <p-sortIcon field="calisanTelNo"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="calisanEmail" style="min-width: 14rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Eposta
                        <p-sortIcon field="calisanEmail"></p-sortIcon>
                    </div>
                </th>

                <th style="width: 5rem"></th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-musteri>
            <tr class="p-selectable-row">
                <td>
                    <span class="p-column-title">calisanAdi</span>
                    {{ musteri.calisanAdi }}
                </td>
                <td>
                    <span class="p-column-title">calisanSoyad</span>
                    {{ musteri.calisanSoyad }}
                </td>
                <td>
                    <span class="p-column-title">calisanCinsiyet</span>
                    {{ musteri.calisanCinsiyet }}
                </td>
                <td>
                    <span class="p-column-title">calisanUnvan</span>
                    {{ musteri.calisanUnvan }}
                </td>
                <td>
                    <span class="p-column-title">calisanTelNo</span>
                    {{ musteri.calisanTelNo }}
                </td>
                <td>
                    <span class="p-column-title">calisanEmail</span>
                    {{ musteri.calisanEmail }}
                </td>
                <td style="text-align: center">
                    <button
                        pButton
                        pRipple
                        class="p-button-primary"
                        icon="pi pi-pencil"
                        (click)="calisanEditMethod(musteri)"
                    ></button>
                </td>
                <td style="text-align: center">
                    <button
                        pButton
                        pRipple
                        class="p-button-danger"
                        icon="pi pi-times"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Çalışan bulunamadı.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog
    [header]="'Çalışan işlemleri'"
    [(visible)]="dialogShow"
    [modal]="true"
    [style]="{ width: '80vw' }"
>
    <p-card>
        <form [formGroup]="calisanForm">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ad"
                            formControlName="calisanAdi"
                        />
                        <label htmlFor="ad">Ad</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="soyad"
                            formControlName="calisanSoyadi"
                        />
                        <label htmlFor="soyad">Soyad</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <p-dropdown
                            [options]="cinsiyetler"
                            optionValue="code"
                            [style]="{ width: '100%' }"
                            optionLabel="name"
                            dataKey="cost_center_id"
                            placeholder="Cinsiyet"
                            formControlName="calisanCinsiyet"
                        ></p-dropdown>
                        <label htmlFor="cinsiyet">Cinsiyet</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <p-inputMask
                            mask="(999) 999-9999"
                            id="telefon"
                            formControlName="calisanTelNo"
                        ></p-inputMask>
                        <label htmlFor="telefon">Telefon</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="eposta"
                            formControlName="calisanEmail"
                        />
                        <label htmlFor="eposta">Eposta</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <input
                            pInputText
                            id="ünvan"
                            formControlName="calisanUnvan"
                        />
                        <label htmlFor="ünvan">Ünvan</label>
                    </span>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <p-multiSelect
                    [options]="hizmetKategoriAnyType"
                    [group]="true"
                    defaultLabel="Hizmet Seç"
                    [(ngModel)]="selectionHizmet"
                    optionValue="id"
                    appendTo="body"
                    optionLabel="hizmetAdi"
                    [style]="{ width: '100%' }"
                >
                    <ng-template let-hizmetKat pTemplate="group">
                        <div class="flex align-items-center">
                            <span>{{ hizmetKat.hizmetAdi }}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
        </div>
        <div style="display: flex; width: 100%; justify-content: flex-end">
            <p-button
                type="button"
                severity="secondery"
                label="kaydet"
                (onClick)="save()"
            />
        </div>
    </p-card>
</p-dialog>
