.custom-list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list-header-item {
    background-color: #0d6efb;
    color: white;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.custom-list-group-item {
    background-color: #f2f2f2;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-list-group-item:hover {
    background-color: #e0e0e0;
}
