<p-card header="Kısayol">
    <div class="grid" style="height: 70vh;">
        <div class="col-12 md:col-3">
            <button pButton pRipple label="Yeni randevu" size="large" style="width: 100%;"></button>
        </div>
        <div class="col-12 md:col-3">
            <button pButton pRipple label="Randevu görüntüle" size="large" style="width: 100%;"></button>
        </div>
        <div class="col-12 md:col-3">
            <button pButton pRipple label="Yeni müsteri" size="large" style="width: 100%;"></button>
        </div>
        <div class="col-12 md:col-3">
            <button pButton pRipple label="Müsteri görüntüle" size="large" style="width: 100%;"></button>
        </div>
    </div>
</p-card>